.site-header {

  .site-container {

    .top-menu {

      ul {

        li {
          padding: 0 3px;

          &.img {
            a {
              width: 195px;
            }
          }

          a {
            font: 13px/41px $Gotham;
          }
        }
      }
    }

    .nav {

      ul {

        li {

          a {
            padding: 12px 10px;
            font: 12px $Montserrat;
          }
        }
      }
    }
  }
}