.site-header {

  .site-container {

    .top-menu ul li {
      padding: 0 2px;

      &.img a {
        width: 195px;
      }

      a {
        font: 13px/41px $gothamhtf-mediumcondenced;
      }
    }

    .nav ul li a {
      padding: 12px 10px;
      font: 12px $montserrat-regular;
    }
  }
}