.site-header {

	.top-menu {

		ul {

			li {
				padding: 0 3px; //pravka

				&.img {
          a{
            width: 195px;
          }
				}

				&.active-trail {
				}

				a {
					font: 13px/41px $Gotham; //pravka


					&:hover {
					}

					&.active-trail {
					}
				}
			}
		}
	}

	.logo {

		a {

			h1 {

			}
		}
	}

	.nav {

		ul {

			li {

				a {
					padding: 12px 10px;
					font: 12px $Montserrat;

					&:hover {

					}

					&.active-trail {

					}
				}
			}
		}
	}
}