.think-us {
  position: absolute;
  bottom: 0;
  left: 50%;
  @include transform(translate(-50%, 0));
  height: 198px;
  width: 654px;
  background-color: #F8FDFB;
  @include border-radius(20px 20px 0 0);
  padding: 13px 13px 0;
  overflow: hidden;
  border-bottom: 5px solid #3e636b;

  .outer-th {
    height: 100%;
    @include border-radius(20px 20px 0 0);
    @include box-shadow(0px 2px 4px gray);
  }

  .think-wrapper {
    width: 593px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 50px;
      line-height: 80px;
      color: #009999;
      height: 80px;
      letter-spacing: 11px;
      text-transform: uppercase;
      margin-bottom: 20px;
      border-bottom: 1px solid #0e2c2e;
    }

    p {
      color: #336666;
      font-weight: bold;
    }
  }
}