.text-img-wrapper {
  position: relative;
  left: 50%;
  padding-top: 66px;
  background: image_url("bg/text-img-bg.jpg") 0% 100%;
  margin-bottom: 50px;
  border-bottom: 2px #c2c2c2 solid;

  .b-text-img {
    @include clearfix();
    margin: 0 auto 20px;
    width: 1110px;

    &.style-a, &.style-b {

      .text {
        float: left;
        color: #818181;
        font-family: "Arial";
        line-height: 30px;
        padding-right: 50px;

        h2 {
          font-size: 16px;
          font-weight: bold;
        }

        p {
          font-size: 15px;
          text-align: justify;
        }

      }

      .img {
        float: right;
      }

    }

    &.style-a {

      .text {
        width: 69%;

        h2 {
          text-transform: uppercase;
        }
      }

      .img {
        width: 31%;
      }
    }

    &.style-b {

      .text {
        width: 41%;

        h2 {
          text-transform: none;
        }

        .btn-wrapper {
          text-align: left;
        }

        p {
          margin-bottom: 30px;
        }
      }

      .img {
        width: 59%;

        img {
          @include border-radius(25px);
        }
      }
    }

  }
}

