.text-img-wrapper {
  padding-top: 20px;
  margin-bottom: 20px;

  .b-text-img {
    width: 600px;

    &.style-a, &.style-b, &.style-c, &.style-d {

      .text {
        float: none;
        padding-right: 0px;
        width: 100%;
      }

      .img {
        float: none;
        width: 100%;
        text-align: center;

        img {
          width: 100%;
        }
      }
    }

    &.style-c {

      .text {
        border-right: none;
        border-bottom: 2px #c2c2c2 solid;
        margin-bottom: 20px;

        .link-view {
          display: none;
        }
      }

      .img {
        text-align: left;
        padding-left: 0;
      }
    }
  }
}


