.b-text-img {
  @include clearfix();
  margin: 0 auto 66px;
  width: 1110px;

  .text {
    float: left;
    width: 70%;
    color: #818181;
    font-family: "Arial";
    line-height: 30px;
    padding-right: 50px;

    h2 {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;

    }

    p {
      font-size: 15px;
      text-align: justify;
    }

  }

  .img {
    width: 30%;
    float: right;
  }

}


