.content-wrapper {

	.content-top {
		position: relative;
		left: 50%;
		border-bottom: 5px solid #3e636b;
		border-top: 1px solid #000;
    margin-bottom: 50px;
	}

	.content-bottom {

  }

  h3.wedding {
    font-family: montserrat-bold;
    color: #009999;
    font-size: 35px;
    text-transform: uppercase;
    border-bottom: 2px solid #c6c6c6;
    text-align: center;
    width: 1122px;
    margin: -20px auto 50px;
    letter-spacing: 6px;
    line-height: 80px;
  }
}


