.content-wrapper {

	.content-top {
		position: relative;
		left: 50%;
		border-top: 1px solid #000;
    margin-bottom: 50px;
	}

	.content-bottom {

  }

  .link-view {
    display: block;
    font-size: 12px;
    font-family: "Montserrat-regular";
    letter-spacing: 2px;
    color: #339999;
    text-transform: uppercase;
    line-height: 30px;
  }
}


