.cols {
	@include clearfix();
  width: 1122px;
  margin: 0 auto;

	.col {
		margin-right: 46px;
		width: 342px;

		&.col-3 {

			.col-item {

				.col-wrapper {
					padding: 20px 0;
				}
			}
		}

		.col-wrapper {
			padding: 25px 25px 0 30px;
		}

		.col-item {
			@include border-radius(20px);

			h3 {
				padding: 5px 0 6px;
				@include border-radius(18px 18px 0 0);

				span {
					font: normal 30px/45px $voltaire;
					height: 40px;
					min-width: 186px;
				}
			}

			.wrapper-face {
				padding: 20px;
			}

			.col-cont {
				padding: 20px 5px 9px 66px;
				width: 282px;
				margin: 0 auto 11px;
				background: image_url("bg/WR.png") no-repeat;

				p {
					margin: 0;
				}

				&:last-child {
					background: image_url("bg/face.png") no-repeat;
				}
			}
			.col-event {
				margin-bottom: 15px;

				&:last-child {
				}

				h4 {
					font: 24px/24px $Montserrat-bold;
					margin: 0 0 2px;
				}

				span {
					font: 15px/20px $Montserrat;
					margin-bottom: 10px;
				}

				p {
					line-height: 22px;
				}
			}
		}
	}
}