.b-cols {
  @include clearfix();
  margin: 0 auto;

  &.col-one .col {
    width: 1122px;

    h3 span {
      min-width: 250px;
    }
  }

  &.col-two {

    .col {
      float: left;
      margin-right: 31px;
      width: 545px;

      &.col-2 {
        margin: 0;
      }
    }

  }

  &.col-three {

    .col {
      float: left;
      margin-right: 46px;
      width: 342px;

      h3 {
        span {
          min-width: 186px;
        }
      }

      &.col-3 {
        margin: 0;
        border: none;

        .col-item {
          border: none;
          background: none;

          .col-wrapper {
            padding: 20px 0;
          }
        }
      }
    }
  }

  &.style-a, &.style-b, &.style-c {

    .col-item {
      background: #fff;
      height: 100%;
      border: 1px solid #314c4e;
      @include border-radius(20px);
      margin-bottom: 30px;
    }

  }

  &.style-a, &.style-b {

    .col-item {

      h3 {
        padding: 5px 0 6px;
        @include border-radius(18px 18px 0 0);
        overflow: hidden;
        text-align: center;

        span {
          color: #fff;
          font: normal 30px/45px $voltaire-regular;
          text-transform: uppercase;
          display: inline-block;
          height: 40px;
        }
      }
    }
  }

  &.style-a {

    .col-wrapper {
      padding: 25px 25px 0 30px;
    }

    .col-item {

      h3 {
        background: image_url("bg/bg-colum-h.png") repeat-x;
        border-bottom: 1px solid #000;

        span {
          background: #5f1717;
        }
      }

      .wrapper-face {
        padding: 20px;
      }

      .col-cont {
        padding: 20px 5px 9px 66px;
        width: 282px;
        margin: 0 auto 11px;
        background: image_url("bg/WR.png") no-repeat;
        border-bottom: 1px solid #fff5f5;

        p {
          margin: 0;
        }

        &:last-child {
          background: image_url("bg/face.png") no-repeat;
          margin-bottom: 0;
        }
      }

      .col-event {
        border-bottom: 1px solid #c2c2c2;
        margin-bottom: 15px;

        &:last-child {
          border-bottom: none;
        }

        h4 {
          font: 24px/24px $montserrat-bold;
          color: #336666;
          margin: 0 0 2px;
        }

        span {
          font: 15px/20px $montserrat-regular;
          color: #7e7e7e;
          text-transform: uppercase;
          margin-bottom: 10px;
          display: block;
        }

        p {
          color: #7e7e7e;
          line-height: 22px;
        }
      }
    }
    .col-a, .col-b {
      font-family: arial;
      font-style: italic;
    }

    .col-a {

      p {
        font-size: 14px;
        color: #7e7e7e;
      }
    }

    .col-b {

      p {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto 20px;
        width: 60%;
        color: #666666;
      }
    }

    .col-c {

      .col-wrapper > div:first-child {
        border-bottom: 1px solid #000;
        margin-bottom: 30px;

        p {
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          margin: 0 auto 20px;
          width: 90%;
          color: #336666;
          font-style: italic;
        }
      }
    }

  }

  &.style-b {

    .col {

      .col-wrapper {
        position: relative;
        overflow: hidden;

        a {
          display: block;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 10px;
            bottom: 10px;
            right: 10px;
            top: -1px;
            border: 1px solid #999190;
            @include border-radius(0 0 20px 20px);
          }

          img {
            @include border-radius(0 0 25px 25px);
            display: block;
            width: 100%;
          }
        }
      }

      .col-item {
        border: none;

        h3 {
          background: image_url("bg/bg-colum-h-style-b.png") repeat-x;

          span {
            background: #37a8a6;
            min-width: 250px;
          }
        }
      }
    }
  }

  &.style-c {

    .col-wrapper {
      padding: 20px;
      @include clearfix();
    }

    .col-item {

      h3 {
        font-family: montserrat-bold;
        font-size: 30px;
        margin: 0 20px;
        color: #336666;
        border-bottom: 2px solid #c6c6c6;
        text-align: center;
        padding: 5px 0;
      }
    }
  }
}