.b-cols {
  width: 100%;

  &.col-two .col, &.col-three .col{
    width: 100%;
  }

  .col {
    margin-right: 0px;
    width: 100%;

    .col-item .col-cont {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  &.style-a .col-b p {
    width: 90%;
  }

  &.col-one.style-c {
    display: none;
  }

  .field-captcha.field-item div {

    a, label {
      font-size: 9px;
    }
  }
}

