$icons: sprite-map('icons/*.png', $spacing: 8px, $layout: 'smart');
//$h-sprites: sprite-map('h-sprites/*.png',$layout: 'vertical', $spacing: 8px);
//$v-sprites: sprite-map('v-sprites/*.png', $layout: 'horizontal', $spacing: 8px);

$experimental-support-for-svg: true;
$experimental-support-for-opera: false;

//width
$width: 1220px;
$width-tablet: 768px;
$width-mobile: 480px;

//fonts
$voltaire-regular: voltaire-regular;
$montserrat-regular: montserrat-regular;
$montserrat-bold: montserrat-bold;
$gothamhtf-mediumcondenced: gothamhtf-mediumcondenced;