.form {

	.form-item, .form-actions {
		margin: 0 0 12px;
		font: 11px/17px $Montserrat;
		text-transform: uppercase;
		color: #193739;


		label {
			font-weight: normal;
		}

		.form-text {
			padding: 5px;
			font-size: 17px;
			height: 34px;
			width: 100%;
			@include border-radius(5px);
			border: 1px solid #c4c4c4;
		}
	}
}

